to do list of building the app.

DONE - 1. Pull candidates from database - Components/Candidates.jsx
DONE - 2. Update Roles page to pull in role _id into the <Link to=""/>
DONE - 3. Create form to add a new Role - Components/NewRole.jsx
DONE - 4. The Form from point 3 should post the new role to the api
5. Create form to add candidates
6. Allow candidate to upload cv on form in point 5.
7. Form from point 5 should post data to the api

8. on roles page, select candidate(s) to add to a role
9. post this data to api